body {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #000;
    background-color: antiquewhite;
    text-transform: uppercase;
}

.controls {
    margin: 25px;
}

.button {
   text-decoration: none;
    padding: 25px;
}

.stopwatch {
    font-size: 60px;
}